h2 {
    background-color: #607d8b;
    padding: 5px;
}
h1{
    padding-top: 50px;
}

.title{
 
   
    font-size: 65px;;
}


#myPic {
    width: 250px;
    height: 250px;
    border-radius: 200px;
    padding: 5px;
  
}
.img-container {
    vertical-align: middle;
}
#footer {
    background-color: black;
    color: whitesmoke;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
